/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
* {
	@include box-sizing(border-box);
}

html, body {
	height: 100%;
}

body {
	font: $basefont;
	background: url(../img/bg.jpg);
}

a,
a:visited {
	color: $black;
	text-decoration: none;
}

h2 {
	font: $narrowfont;
	font-size: 2.625em;
	color: $grey;
	padding: 0 0 6px 20px;
	border-bottom: 1px solid #e8e8e8;
}

.body-gradient {
	background: -moz-linear-gradient(left,  rgba(172,172,171,0.53) 0%, rgba(172,172,171,0.53) 6%, rgba(179,179,178,0.53) 12%, rgba(197,197,196,0.53) 22%, rgba(233,232,231,0.53) 37%, rgba(243,242,241,0.53) 44%, rgba(249,248,247,0.53) 51%, rgba(248,246,246,0.53) 58%, rgba(240,239,238,0.53) 64%, rgba(222,222,221,0.53) 74%, rgba(187,187,186,0.53) 89%, rgba(177,178,176,0.53) 95%, rgba(172,172,171,0.53) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(172,172,171,0.53)), color-stop(6%,rgba(172,172,171,0.53)), color-stop(12%,rgba(179,179,178,0.53)), color-stop(22%,rgba(197,197,196,0.53)), color-stop(37%,rgba(233,232,231,0.53)), color-stop(44%,rgba(243,242,241,0.53)), color-stop(51%,rgba(249,248,247,0.53)), color-stop(58%,rgba(248,246,246,0.53)), color-stop(64%,rgba(240,239,238,0.53)), color-stop(74%,rgba(222,222,221,0.53)), color-stop(89%,rgba(187,187,186,0.53)), color-stop(95%,rgba(177,178,176,0.53)), color-stop(100%,rgba(172,172,171,0.53))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(172,172,171,0.53) 0%,rgba(172,172,171,0.53) 6%,rgba(179,179,178,0.53) 12%,rgba(197,197,196,0.53) 22%,rgba(233,232,231,0.53) 37%,rgba(243,242,241,0.53) 44%,rgba(249,248,247,0.53) 51%,rgba(248,246,246,0.53) 58%,rgba(240,239,238,0.53) 64%,rgba(222,222,221,0.53) 74%,rgba(187,187,186,0.53) 89%,rgba(177,178,176,0.53) 95%,rgba(172,172,171,0.53) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(172,172,171,0.53) 0%,rgba(172,172,171,0.53) 6%,rgba(179,179,178,0.53) 12%,rgba(197,197,196,0.53) 22%,rgba(233,232,231,0.53) 37%,rgba(243,242,241,0.53) 44%,rgba(249,248,247,0.53) 51%,rgba(248,246,246,0.53) 58%,rgba(240,239,238,0.53) 64%,rgba(222,222,221,0.53) 74%,rgba(187,187,186,0.53) 89%,rgba(177,178,176,0.53) 95%,rgba(172,172,171,0.53) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(172,172,171,0.53) 0%,rgba(172,172,171,0.53) 6%,rgba(179,179,178,0.53) 12%,rgba(197,197,196,0.53) 22%,rgba(233,232,231,0.53) 37%,rgba(243,242,241,0.53) 44%,rgba(249,248,247,0.53) 51%,rgba(248,246,246,0.53) 58%,rgba(240,239,238,0.53) 64%,rgba(222,222,221,0.53) 74%,rgba(187,187,186,0.53) 89%,rgba(177,178,176,0.53) 95%,rgba(172,172,171,0.53) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(172,172,171,0.53) 0%,rgba(172,172,171,0.53) 6%,rgba(179,179,178,0.53) 12%,rgba(197,197,196,0.53) 22%,rgba(233,232,231,0.53) 37%,rgba(243,242,241,0.53) 44%,rgba(249,248,247,0.53) 51%,rgba(248,246,246,0.53) 58%,rgba(240,239,238,0.53) 64%,rgba(222,222,221,0.53) 74%,rgba(187,187,186,0.53) 89%,rgba(177,178,176,0.53) 95%,rgba(172,172,171,0.53) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87acacab', endColorstr='#87acacab',GradientType=1 ); /* IE6-9 */
	height: 100%;
	overflow: auto;
}

.container {
	background: $white;
	width: 998px;
	margin: 24px auto;
	@include box-shadow(0,0,23px,7px, rgba(5,6,6,0.40));
}

header {
	background: url(../img/header-bg.jpg) no-repeat;
	height: 170px;
	padding: 17px 28px 0 23px;
}

.info-wrapper {

	color: $white;

	section, div {
		float: left;
	}
	
	div:last-child {
		text-align: right;
		float: right;
	}
}

.logo {

	margin-top: 17px;
	
	h1 {
		text-indent: -9999px;
		height: 0;
	}
}

.phones {
	font: $extraboldfont;
	margin-left: 140px;
	line-height: 1.5em;
}

.address {
	font: $cursivefont;
	line-height: 1.8em;
}

.header-toolbar {
	background: url(../img/nav-bg.jpg) repeat-x;
	width: 940px;
	height: 52px;
	margin: 16px auto 0;
	@include border-radius(3px);
	@include box-shadow(0, 0, 6px, 4px, rgba(0,0,0,0.33));
}

nav.primary {
	height: 100%;
	line-height: 52px;
	
	ul, li {
		list-style-type: none;
	}
	
	li {
		
		a {
			font: $lightfont;
			font-size: 1.125em;
		}
	}
	
	>ul{
		>li {
			position: relative;
			height: 51px;
			padding: 0 10px;
			float: left;
			border-right: 1px solid #e5e7e9;
			@include box-shadow(1px, 0, 1px, 0, rgba(255,255,255,0.75));
			
			&:first-child {
				@include border-top-left-radius(3px);
				@include border-bottom-left-radius(3px);
			}
			
			&:hover {
				background: url(../img/nav-hover-bg.jpg) repeat-x;
				
				>a{
					color: $white;
					@include text-shadow(0, 0, 1px, rgba(138, 27, 15, 0.41));
				}
				
				ul {
					display: block;
				}
			}
			
			&.current,
			&:active {
				background: url(../img/nav-focus-bg.jpg) repeat-x;
				
				>a {
					color: $white;
				}
			}
			
			>ul {
				background: #ededed;
				position: absolute;
				width: 120%;
				top: 100%;
				left: 0;
				display: none;
				-webkit-box-shadow: inset 0 10px 6px -5px rgba(0, 0, 0, 0.33),
											0 2px 4px 2px rgba(155,155,155, 0.46);
				-moz-box-shadow: inset 0 10px 6px -5px rgba(0, 0, 0, 0.33),
										0 2px 4px 2px rgba(155,155,155, 0.46);
				box-shadow: inset 0 10px 6px -5px rgba(0, 0, 0, 0.33),
									0 2px 4px 2px rgba(155,155,155, 0.46);

				li {
					height: 33px;
					padding-left: 20px;
					line-height: 33px;
					border-bottom: 1px solid rgba(0,0,0,0.16);
					@include box-shadow(0, 1px, 1px, 0, rgba(255, 255, 255, 0.75));
					
					a {
						font-size: 0.75em;
					}
					
					&:last-child{
						@include border-bottom-left-radius(3px);
						@include border-bottom-right-radius(3px);
						border-bottom: 0;
					}
					
					&:hover{
						background: url(../img/subnav-hover-bg.jpg) repeat-x;
						
						a {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

.content-wrapper {
	padding: 10px 24px;
}

.sidebar {
	width: 225px;
	float: left;
}

.content {
	width: 941px - 225px;
	float: right;
}

.catalog-items {
	margin: 15px 0 60px 0;
}

.item {
	width:220px;
	margin-right: 28px;
	padding: 10px;
	float: left;
	@include border-radius(3px);
	@include box-shadow(0,2px,5px,1px, rgba(0,0,0,0.2));
	
	&:last-child {
		margin-right: 0;
	}
	
	figure {
		position: relative;
		width: 200px;
		height: 160px;
		overflow: hidden;
		border: 1px solid #cccccc;
		@include border-radius(3px);
		
		figcaption{
			background: rgba(0,0,0,0.6);
			font: $narrowfont;
			font-size: 1.125em;
			line-height: 45px;
			color: $white;
			text-decoration: underline;
			position: absolute;
			bottom: 0;
			height: 45px;
			width: 100%;
			padding-left: 10px;
		}
	}
}

.item-info {
	position: relative;
	height: 52px;
	margin-top: 10px;
	button {
		position: absolute;
		right: 0;
	}
}

.item-price {
	font: $narrowfont;
	font-size: 1.75em;
	line-height: (52/(16*1.75))+em;
	color: #595959;
	height: 100%;
	float: left;
}

button {
	background: #e6e6e6;
	font: $narrowfont;
	color: #595959;
	text-transform: uppercase;
	padding: 14px 18px;
	border: none;
	@include border-radius (3px);
	@include box-shadow(0, 3px, 0,0, #a6a6a6);
	transition: background 0.5s ease;
	
	&:hover {
		background: #517e99;
		color: $white;
	}
	
	&:active{
		border: none;
		outline: 0;
		top: 3px;
		box-shadow: 0 0 transparent;
	}
	
	&:focus {
		color: $white;
		outline: 0;
		border: none;
		background: #517e99;
	}
	
	&:visited {
		background: #e6e6e6;
	}
}

footer {
	width: 998px;
	margin: 0 auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
